body {
  background-color: #EA9198;
  color: #fff;
  font-family:"ヒラギノ 角ゴ","メイリオ",sans-serif;
  text-shadow: 2px  2px 3px #000,
              -2px  2px 3px #000,
               2px -2px 3px #000,
              -2px -2px 3px #000;
}
/* .canvas {           */
/*   max-width: 90vm;  */
/*   max-height: 90vm; */
/* }                   */
